<!DOCTYPE html>
<html>
<%- include('header') -%>
<body>
    <nav style='display:flex;justify-content:center;margin:50px auto'>
         <a href="/login" style='color:white;font-size:20px;text-decoration:none;margin:40px auto'>Admin</a> 
         <a href='/clientes'>Clientes</a>
        </nav>
   <div class="Body">
      <div class="Bbody">
         
   <div class="container">
      <div class="container1">
         <div>
      <p>Angel Sojo</p>
      <p>Cedula: 30.596.442</p>
      <p>Sección: 1</p>
   </div>
      <div class="OBJ">
   
   </div>
   </div>
</div>
  </div>
</div>
  
   
</div>
</body>

</html>
